.toggle-button.top-pill {
    -fx-background-radius: 3 3 0 0, 3 3 0 0, 2 2 0 0, 1 1 0 0;
    -fx-background-insets: 0 0 0 -1 , 0, 1, 2;
}
.toggle-button.top-pill:focused {
    -fx-background-insets: -0.2 -0.2 0 -0.2, 1, 2, -1.4 -1.4 0 -1.4, 2.6;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0, 4 4 0 0, 1 1 0 0;
}
.toggle-button:selected.top-pill:focused {
    -fx-background-insets: -0.2 -0.2 0 -0.2, 1, -1.4 -1.4 0 -1.4, 2.6;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 4 4 0 0, 0;
}

.toggle-button.bottom-pill {
    -fx-background-radius: 0 0 3 3, 0 0 3 3, 0 0 2 2, 0 0 1 1;
    -fx-background-insets: 0 0 0 -1, 0, 0 1 1 1, 1 2 2 2 ;
}
.toggle-button.bottom-pill:focused {
    -fx-background-insets: -1 -0.2 -0.2 -0.2, 0 1 1 1, 1 2 2 2, -1 -1.4 -1.4 -1.4, 1.6 2.6 2.6 2.6;
    -fx-background-radius: 0 0 3 3, 0 0 2 2, 0 0 1 1, 0 0 4 4, 0 0 1 1;
}
.toggle-button:selected.bottom-pill:focused {
    -fx-background-insets: -1 -0.2 -0.2 -0.2, 0 1 1 1, -1 -1.4 -1.4 -1.4, 1.6 2.6 2.6 2.6;
    -fx-background-radius: 0 0 3 3, 0 0 2 2, 0 0 4 4, 0;
}

/* メニューボタンのpill化 */

.menu-buton.left-pill {
    -fx-background-radius: 3 0 0 3, 3 0 0 3, 2 0 0 2, 1 0 0 1;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.75em; /* 4 8 4 9 */
}
.menu-buton.center-pillx {
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 -1 0, 0 0 0 0, 1 1 1 0, 2 2 2 1 ;
}
.menu-button.right-pill {
    -fx-background-radius: 0 3 3 0, 0 3 3 0, 0 2 2 0, 0 1 1 0;
    -fx-background-insets: 0 0 -1 0, 0, 1 1 1 0, 2 2 2 1 ;
}

.menu-button.left-pill:focused {
    -fx-background-insets: -0.2 0 -0.2 -0.2, 1, 2, -1.4 0 -1.4 -1.4, 2.6;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 1 0 0 1, 4 0 0 4, 1 0 0 1;
}
.menu-button.center-pill:focused {
    -fx-background-insets: -0.2 0 -0.2 -1, 1 1 1 0, 2 2 2 1, -1.4 0 -1.4 -1, 2.6 2.6 2.6 1.6;
    -fx-background-radius: 0, 0, 0, 0, 0;
}

.menu-button.right-pill:focused {
    -fx-background-insets: -0.2 -0.2 -0.2 -1, 1 1 1 0, 2 2 2 1, -1.4 -1.4 -1.4 -1, 2.6 2.6 2.6 1.6;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0, 0 4 4 0, 0 1 1 0;
}

.empty-menu-button > .label {
  -fx-padding: 0.333333em 0em 0.333333em 0.666667em; /* 4 8 4 8 */
}
